header>div.headerRed {
    background-color: var(--color-primary);
}

header>div.headerBlack {
    background-color: var(--color-secondary);
}

.linksMobile {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.linksMobile .links__third_part{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.linksMobile .links__third_part .links__group__logos_partners{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: .5em;
    align-items: center;
}

.linksMobile .links__third_part .links__group__logos_partners a.links__betano {
    height: 22px;
}

.linksMobile .links__third_part .links__group__logos_partners a.links__betano img {
    height: 100%;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

.socialLinks .socialLinks__item a {
    color: #000;
}

.links__third_part .socialLinks {
    margin-left: .5em;
    margin-top: .8em;
}

.links__texto_group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}

.links__seja_socio{
    margin-left: 1em;
}

.links__nacao {
    margin-right: 1em;
}

.linksDesktop {
    display: none;
}

.logo{
    width: 70px;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -35px;
}

.logo img {
    width: 100%;
}

.links__texto{
    color: #fff;
    font-weight: 900;
    font-size: var(--font-15px);
    text-decoration: none;
    background-color: var(--color-quaternary);
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
}


.links__texto:hover {
    text-decoration: underline;
    background-color: var(--color-tertiary);
}

/* Breakpoint oficial */
@media (min-width: 480px) {}

/* Breakpoint oficial */
@media (min-width: 768px) {

}

/* Breakpoint customizado */
@media (min-width: 820px) {

}

/* Breakpoint oficial */
@media (min-width: 998px) {
    .logo{
        width: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        top: inherit;
        margin-left: 0;
    }

    .linksDesktop {
        padding-top: 2.1rem;
        padding-bottom: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .linksDesktop div a{
        display: inline-block;
    }

    .linksDesktop div a {
        display: inline-block;
    }

    a.links__texto{
        font-size: var(--font-25px);
        padding: 10px;
    }

    .linksDesktop .links__seja_socio {
        flex-grow: 1;
    }

    .linksDesktop .links__seja_socio a{
        margin-left: 5em;
    }

    .linksDesktop .links__nacao {
        flex-grow: 1;
    }

    .linksDesktop .links__nacao a{
        margin-right: 6em;
    }

    .linksDesktop div .links__betano {
        height: 22px;
    }

    .linksDesktop div .links__betano img {
        height: 100%;
    }

    .linksDesktop .links__third_part {
        flex-grow: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .linksDesktop.links div a.links__betano:hover img, .linksDesktop.links div a.links__adidas:hover img {
        filter: invert(100%);
    }

    .linksMobile {
        display: none;
    }
    .linksDesktop {
        display: flex;
    }
}

/* Breakpoint oficial */
@media (min-width: 1280px) {}