.no-padding {
    padding: 0;
}

.banners {
    margin-bottom: 4em;
}

.banners__item {
    padding: 0;
    border: 4px solid #535353;
}

.banners__item:first-child {
    border-right-width: 2px;
}

.banners__item:last-child {
    border-left-width: 2px;
}

.banners__figure {
    overflow: hidden;
    position: relative;
}

.news__item{
    margin-bottom: var(--font-20px);
}

.news__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: var(--font-20px);
    margin-bottom: var(--font-20px);
}

.news__title {
    font-size: var(--font-24px);
    line-height: 2.0rem;
    text-transform: uppercase !important;
    font-weight: bold;
    width: 75%;
}


.news__link, .news__link:visited {
    font-weight: 700;
    color: var(--color-primary);
    width: 25%;
    font-size: 1rem;
    line-height: 1.35rem;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
}

.news__link:hover, .news__link:active {
    text-decoration: underline;
}

.news__figure {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.news__figure .news__image, .banners__figure .banners__image {
    height: auto;
    width: 100%;
}

.news__figure:hover .news__image {
    transform: scale(1.1);
}

.news__caption, .banners__caption {
    position: absolute;
    left: 0;
    bottom: 0;
}

.news__caption div, .banners__caption div {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 18px 26px;
    box-sizing: border-box;
}

.news__caption span, .banners__caption div span {
    color: #fff;
    font-weight: 700;
    font-size: var(--font-16px);
    background: #d2232a;
    padding: 6px 15px 4px;
    position: relative;
    font-size: var(--font-16px);
    left: 25px;
    bottom: 10px;
    text-transform: uppercase;
}

.banners__caption div span{
    padding: 4PX 10px;
    left: 0;
    top: -38px;
}

.news__caption h3, .banners__caption h3 {
    color: #fff;
    font-weight: 700;
    font-size: var(--font-18px);
    margin-bottom: var(--font-8px);
    text-transform: uppercase;
}   

.news__caption p, .banners__caption p {
    color: #fff;
    font-weight: 400;
    font-size: var(--font-16px);
}   

.partners__item {
    text-align: center;
}

.partners__item a img {
    width: 100%;
    max-width: 375px;
}