.banners {
    margin-bottom: 4em;
}

.banners__item {
    padding: 0;
    border: 4px solid #535353;
}

.banners__item:first-child {
    border-right-width: 2px;
}

.banners__item:last-child {
    border-left-width: 2px;
}

.banners__figure {
    overflow: hidden;
    position: relative;
}

.banners__figure .banners__image {
    height: auto;
    width: 100%;
}

.banners__caption {
    position: absolute;
    left: 0;
    bottom: 0;
}

.banners__caption div {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 18px 26px;
    box-sizing: border-box;
}

.banners__caption div span {
    color: #fff;
    font-weight: 700;
    font-size: var(--font-16px);
    background: #d2232a;
    padding: 6px 15px 4px;
    position: relative;
    font-size: var(--font-16px);
    left: 25px;
    bottom: 10px;
    text-transform: uppercase;
}

.banners__caption div span{
    padding: 4PX 10px;
    left: 0;
    top: -38px;
}


.banners__caption h3 {
    color: #fff;
    font-weight: 700;
    font-size: var(--font-18px);
    margin-bottom: var(--font-8px);
    text-transform: uppercase;
}   

.banners__caption p {
    color: #fff;
    font-weight: 400;
    font-size: var(--font-16px);
}   

/* Breakpoint oficial */
@media (min-width: 480px) {}

/* Breakpoint oficial */
@media (min-width: 768px) {
    .banners__caption h3 {
        font-size: var(--font-18px);
    }

    .banners__caption p {
        font-size: var(--font-13px);
    }
}

/* Breakpoint customizado */
@media (min-width: 820px) {

}

/* Breakpoint oficial */
@media (min-width: 998px) {
    

    .banners__caption h3 {
        font-size: var(--font-24px);
    }

    .banners__caption p {
        font-size: var(--font-18px);
    }

    .banners__caption div span {
        font-size: var(--font-13px);
    }

    .banners__caption div {
        max-width: 70%;
        margin: 0 auto;
    }
}

/* Breakpoint oficial */
@media (min-width: 1280px) {}